& {
  position: absolute;
  top: $mainToolbarHeight;
  bottom: 0;
  left: 0;
  right: 0;

  .base {
    position: relative;
    .tracked-task-names {
      position: absolute;
      top: 0;
      left: 0;
      right: 250px;
      bottom: 0;
    }
    .tracked-tasks {
      position: absolute;
      left: 250px;
      top: 0;
    }
  }

  .tracker-base {
    height: 100%;
  }

  .list {
    overflow-y: auto;
    background: blue;
    background: paper-var(--background-100);
    width: $sidebarWidth;
    height: 100%;
  }

  .details {
    overflow-y: auto;
    background: red;
    background: paper-var(--background-200);
    position: fixed;
    top: $mainToolbarHeight;
    left: $sidebarWidth;
    bottom: 0;
    right: 0;
    padding: 10px;
  }

  // ul {
  //   padding: 0;
  //   margin: 0;
  //   li {
  //     text-align: center;
  //     text-transform: uppercase;
  //     background-color: paper-var(--background-50);
  //     list-style: none;
  //     width: 100%;
  //     height: 30px;
  //     line-height: 30px;
  //     cursor: pointer;
  //     &:hover {
  //       background-color: paper-var(--background-200);
  //     }
  //   }
  // }
}
